h1 {
  text-align: center;
}

/* grid products */

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.product {
  background-color: var(--bg-white-color);
  display: flex;
  flex-direction: column;

  /* background-color: white; */
}

.product > div:first-child {
  padding: 24px;
  display: flex;
  background-color: white;
  margin: 24px;

  /* justify-content: center; */
  /* padding: 0; */
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.product .text {
  background-color: var(--bg-beige-color);
  padding: 0 0 0 8px;
}

.product .price {
  color: var(--primary-color);
  margin-top: 24px;
  margin-bottom: 24px;
}
